/* Home.css */

.home-container {
    text-align: center;
    margin: 20px;
    background-color: rgba(189, 158, 48, 0.5);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh; 
  }
  
  .search-container {
    margin: 20px 0;
  }
  
  .search-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  

  .recipe-card {
    background-color: #FFFFD2; /* Clean background */
    border-radius: 10px; /* Smoothed corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px; /* Spacing inside the card */
    margin: 15px; /* Spacing outside the card */
    max-width: 300px; /* Maximum width of the card */
    text-align: center; /* Centering the text */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  }
  
  .recipe-title {
    color: #333; /* Dark color for the title */
    font-size: 1.4em; /* Slightly larger font size for the title */
    margin-bottom: 15px; /* Spacing after the title */
  }
  
  .recipe-description {
    color: #666; /* Lighter color for description */
    font-size: 0.9em; /* Smaller font size for the description */
    margin-bottom: 20px; /* Spacing after the description */
  }
  
  .recipe-card:hover {
    transform: translateY(-5px); /* Slightly raise the card on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
  }
  
  /* Styles for the buttons container */
.recipe-actions {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

/* Common styles for both buttons */
.recipe-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Styles for the Update button */
.update-button {
  background-color: #4CAF50;
}

.update-button:hover {
  background-color: #45a049;
}

/* Styles for the Delete button */
.delete-button {
  background-color: #f44336;
}

.delete-button:hover {
  background-color: #d32f2f;
}
